# pip
pip

# databases
pyodbc

# crypt
paramiko
keyring
pycrypto

# elk
elasticsearch
elasticsearch_dsl


# web/auth
requests
oauth2client
geopy
geoip2
httpagentparser

# AI/ML/Data Science
seasonal
python-constraint

# needed for keras plotting
# Pydot code need a fix as anaconda to ignore the extension
# def get_executable_extension(): 
#     return ''
pydot


# other
pint
pytz
xmltodict
tzlocal
python-memcached
python-dateutil
ifaddr
graphviz
pandas-datareader
clipboard
jupyterlab

# 3.7 need
PyHamcrest
